<h1>Built-in Directives</h1>

<h2><u>Built-in attribute directives</u></h2>

<h3 id="ngModel">NgModel (two-way) Binding</h3>

<fieldset><h4>NgModel examples</h4>
  <p>Current item name: {{currentItem.name}}</p>
  <p>
    <!--#1 way to handle the binding-->
    <label for="without">without NgModel:</label>
    <input 
    [value]="currentItem.name" 
    (input)="currentItem.name=getValue($event)" 
    id="without">
  </p>

  <p>
    <!--#2 way to handle the binding-->
    <label for="example-ngModel">
      [(ngModel)]:
    </label>
    <input 
    [(ngModel)]="currentItem.name" 
    id="example-ngModel">
  </p>

  <p>
    <!--#3 way to handle the binding-->
    <label for="example-change">
      (ngModelChange)="...name=$event":
    </label>
    <input 
    [ngModel]="currentItem.name" 
    (ngModelChange)="currentItem.name=$event" 
    id="example-change">
  </p>

  <p>
    <!--Change in input change letters to uppercase-->
    <label for="example-uppercase">
      (ngModelChange)="setUppercaseName($event)"
      <input 
      [ngModel]="currentItem.name" 
      (ngModelChange)="setUppercaseName($event)" 
      id="example-uppercase">
    </label>
  </p>
</fieldset>

<hr>

<h2 id="ngClass">class Binding</h2>

<p>currentClasses is {{currentClasses | json}}</p>
<div [class]="currentClasses">
  This div is initially saveable, unchanged, and special.
</div>

<ul>
  <li>
    <label for="saveable">
      saveable
    </label>
    <!--#1 way to handle the binding-->
    <input type="checkbox" [(ngModel)]="canSave" id="saveable">
  </li>

  <li>
    <label for="modified">
      modified:
    </label>
    <!--#2 way to handle the binding-->
    <input 
    type="checkbox" 
    [value]="!isUnchanged"
    (change)="isUnchanged=!isUnchanged" 
    id="modified">
  </li>

  <li>
    <label for="special">
      special:   
    </label>
    <!--same way to handle the binding that #1-->
    <input type="checkbox" [(ngModel)]="isSpecial" id="special">
  </li>
</ul>

<!-- toggle the "special" class on/off with a property -->
<button 
  type="button" 
  (click)="setCurrentClasses()">
  Refresh currentClasses
</button>

<div [class]="currentClasses">
  This div should be 
  {{ canSave ? "": "not"}} saveable,
  {{ isUnchanged ? "unchanged" : "modified" }} and
  {{ isSpecial ? "": "not"}} special after clicking "Refresh".
</div>

<br>
<br>

<div [class]="isSpecial ? 'special' : ''">
  This div is special
</div>
<div class="helpful study course">
  Helpful study course
</div>
<div [class]="{'helpful':false, 'study':true, 'course':true}">
  Study course
</div>

<!-- NgStyle binding -->
<hr><h3>style Binding</h3>
<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
  This div is x-large or smaller.
</div>

<h4>[ngStyle] binding to currentStyles - CSS property names</h4>
<p>currentStyles is {{currentStyles | json}}</p>

<div [style]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>

<br>
<label for="canSave">
  italic:
  <input 
  id="canSave" 
  type="checkbox" 
  [(ngModel)]="canSave">
</label> |
<label for="isUnchanged">
  normal: 
  <input 
  id="isUnchanged" 
  type="checkbox" 
  [(ngModel)]="isUnchanged">
</label> |
<label for="isSpecial">
  xlarge: 
  <input 
  id="isSpecial" 
  type="checkbox" 
  [(ngModel)]="isSpecial">
</label>
<button 
  type="button" 
  (click)="setCurrentStyles()">
  Refresh currentStyles
</button>
<br><br>
<div [style]="currentStyles">
  This div should be {{ canSave ? "italic": "plain"}},
  {{ isUnchanged ? "normal weight" : "bold" }} and,
  {{ isSpecial ? "extra large": "normal size"}} after clicking "Refresh".
</div>

<hr>

<h2><u>Built-in structural directives</u></h2>

<h3 id="ngIf">if() Binding</h3>
<div>
  <p>If isActive is true, <i>app-item-detail</i>
    component will render: </p>

  @if(isActive){
    <app-item-detail [item]="item">
    </app-item-detail>
  }
  
  <button 
    type="button" 
    (click)="isActiveToggle()">
    Toggle component
  </button>
</div>
<hr>

<p>If <i>currentCustomer</i> variable isn't null, say hello to Laura:</p>

@if(currentCustomer){
  <div>Hello, {{currentCustomer.name}}</div>
}

<p><i>nullCustomer</i> variable is null by default.
  if() guards against null. 
  Give it a value to show it:
</p>

@if(nullCustomer){
  <div>Hello, <span>{{nullCustomer}}</span></div>
}

<br>
<button 
  type="button" 
  (click)="giveNullCustomerValue()">
  Give <i>nullCustomer</i> a value
</button>


<h4>if() binding with template (no *)</h4>

<ng-template [ngIf]="currentItem">
  Add {{currentItem.name}} with template
</ng-template>
<hr>

<h4>Show/hide vs. if()</h4>
<!-- isSpecial is true -->
<div [class.hidden]="!isSpecial">Show with class</div>
<div [class.hidden]="isSpecial">Hide with class</div>

<p>ItemDetail is in the DOM but hidden</p>
<app-item-detail [class.hidden]="isSpecial"></app-item-detail>

<div [style.display]="isSpecial ? 'block' : 'none'">
  Show with style
</div>
<div [style.display]="isSpecial ? 'none'  : 'block'">
  Hide with style
</div>


<hr>
<h2 id="ngFor">for() Structural directive</h2>

<div class="box">
  @for (item of items; track item) {
    <div>{{item.name}}</div>  
  }
</div>

<p>for() with ItemDetailComponent element</p>
<div class="box">

  @for(item of items; track item){
    <app-item-detail [item]="item"></app-item-detail>
  }
  
</div>


<h4 id="ngFor-index">for() with index</h4>
<p>with <em>semi-colon</em> separator</p>
<div class="box">

  @for (item of items; track item; let i = $index) {
    <div>{{i + 1}} - {{item.name}}</div>
  }
  
</div>

<p>with <em>comma</em> separator</p>
<div class="box">

  @for(item of items; track item; let i = $index){
    <div>{{i + 1}} - {{item.name}}</div>
  }
  
</div>

<h4 id="ngFor-trackBy">for() trackBy</h4>
<button 
  type="button" 
  (click)="resetList()">Reset items</button>
<button 
  type="button" 
  (click)="changeIds()">Change ids</button>
<button 
  type="button" 
  (click)="clearTrackByCounts()">Clear counts</button>

<p><em>without</em> trackBy</p>
<div class="box">

  @for(item of items; track item){
    <div #noTrackBy>({{item.id}}) {{item.name}}</div>
  }

  @if(itemsNoTrackByCount){
    <div>Item DOM elements change 
      #{{itemsNoTrackByCount}} without trackBy
    </div>
  }

</div>

<p>with trackBy</p>
<div class="box">

  @for(item of items; track item){
    <div #withTrackBy>
      ({{item.id}}) {{item.name}}
    </div>
  }

  @if(itemsWithTrackByCount){
    <div id="withTrackByCnt">
      Item DOM elements change #{{itemsWithTrackByCount}} with trackBy
    </div>
  }
  
</div>

<br>

<p>with trackBy and <em>semi-colon</em> separator -NO MORE REQUIRED-</p>
<div class="box">

  @for(item of items; track item){
    <div>
      ({{item.id}}) {{item.name}}
    </div>
  }
  
</div>

<p>with trackBy and <em>comma</em> separator -NO MORE REQUIRED-</p>
<div class="box">
  
  @for(item of items; track item){
    <div>
      ({{item.id}}) {{item.name}}
    </div>
  }
  
</div>

<p>with trackBy and <em>space</em> separator -NO MORE REQUIRED-</p>
<div class="box">

  @for(item of items; track item){
    <div>
      ({{item.id}}) {{item.name}}
    </div>
  }
</div>

<p>with <em>generic</em> trackById function -NO MORE REQUIRED-</p>
<div class="box">

  @for(item of items; track item){
    <div>
      ({{item.id}}) {{item.name}}
    </div>
  }
</div>

<hr>
<h2>switch() Binding</h2>

<p>Pick your favorite item</p>
<div>

  @for(item of items; track item){
    <label for="item-{{item}}">
      <div>
        <input 
        id="item-{{item}}"
        type="radio"
        name="items"
        [(ngModel)]="currentItem"
        [value]="item">
        {{item.name}}
      </div>
    </label>
  }
</div>

@switch (currentItem.feature) {
  @case ('stout') {
    <app-stout-item [item]="currentItem"></app-stout-item>
  }
  @case ('slim'){
    <app-device-item [item]="currentItem"></app-device-item>
  }
  @case ('vintage') {
    <app-lost-item [item]="currentItem"></app-lost-item>
  }
  @case ('bright') {
    <app-best-item [item]="currentItem"></app-best-item>
  }
  @default {
    <app-unknown-item [item]="currentItem">
    </app-unknown-item>
    <div>Are you as bright as {{currentItem.name}}?</div>
  }
}


